<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Add Order</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-3">
          {% if result == 'success' %}
            <div class="alert alert-success" role="alert">
              <p>{{ result }}</p>
            </div>
          {% elif result == 'error' %}
            <div class="alert alert-danger" role="alert">
              <p>{{ result }}</p>
            </div>
          {% endif %}

          <h1>Add Order</h1>
          <form method="POST" action="{{ url_for('add_order') }}">
            {{ form.csrf_token }}
            <div class="mb-3">
              {{ form.order_type.label }}:&nbsp;
              <!-- **{{ form.order_type.name }}** -->
              <!-- {{ form.order_type }} -->
              {% for choice in form.order_type.choices %}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="{{ form.order_type.name }}" id="{{form.order_type.name}}-{{loop.index}}" value="{{ choice.0 }}">
                  <label class="form-check-label" for="order-sell">{{ choice.1 }}</label>
                </div>
              {% endfor %}
              {% if form.order_type.errors %}
                <div class="errors">
                  {% for error in form.order_type.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.condition.label(class_="form-label") }}
              {{ form.condition(class_="form-select") }}
              {% if form.condition.errors %}
                <div class="errors">
                  {% for error in form.condition.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.amount.label(class_="form-label") }}
              {{ form.amount(class_="form-control") }}
              {% if form.amount.errors %}
                <div class="errors">
                  {% for error in form.amount.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.price.label(class_="form-label") }}
              {{ form.price(class_="form-control") }}
              {% if form.price.errors %}
                <div class="errors">
                  {% for error in form.price.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.src_currency.label(class_="form-label") }}
              {{ form.src_currency(class_="form-select") }}
              {% if form.src_currency.errors %}
                <div class="errors">
                  {% for error in form.src_currency.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.dst_currency.label(class_="form-label") }}
              {{ form.dst_currency(class_="form-select") }}
              {% if form.dst_currency.errors %}
                <div class="errors">
                  {% for error in form.dst_currency.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {{ form.submit(class_="btn btn-primary") }}
          </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
